<!DOCTYPE html>
<html>
  <head>
    <title>Meeting Scheduler</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/meeting">Meeting Scheduler</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            <% } else { %>
            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h1 style="text-align: center;">Edit Meeting</h1>
        <div style="width: 30%; margin: 25px auto;">
          <form action="/meeting/<%=meeting._id%>?_method=PUT" method="POST">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="meeting[name]"
                placeholder="Enter name"
                value="<%=meeting.name%>"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="meeting[title]"
                placeholder="Enter Title of metting"
                value="<%=meeting.title%>"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="meeting[message]"
                placeholder="Enter message"
                value="<%=meeting.message%>"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="datetime-local"
                name="meeting[date]"
                placeholder="Enter data and time"
                value="<%=meeting.date%>"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
          </form>
          <a href="/meeting/<%= meeting._id %>">Go back</a>
        </div>
      </div>
    </div>
  </body>
</html>
