<!DOCTYPE html>
<html>
  <head>
    <title>Meeting Scheduler</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/meeting">Meeting Scheduler</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            <% } else { %>
            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <header class="jumbotron">
        <div class="container">
          <h1>Welcome to Meeting Scheduler!</h1>
          <p>Organise and create your meetings in best way!</p>
          <p>
            <a
              style="text-decoration: none;"
              class="btn-primary btn-lg"
              href="/meeting/new"
              >Add a new meeting</a
            >
            <a
              class="btn-primary btn-lg"
              href="/meeting"
              style="text-decoration: none;"
              >See Upcoming meetings</a
            >
          </p>
        </div>
      </header>

      <div class="row" style="display: block; flex-wrap: wrap;">
        <h1>Your Previous Meetings!</h1>
        <div>
          <% meetings.forEach(function(meeting){ %>
          <div>
            <% if( new Date() > meeting.date ){%>
            <div class="caption">
              <h2><%=meeting.name %></h2>
              <br />
            </div>
            <p class="lead">Subject of Meeting : <%=meeting.title%></p>
            <p class="lead">
              Date of Meeting :
              <code
                ><%=meeting.date.getDate()%>-<%=meeting.date.getMonth()%>-<%=meeting.date.getUTCFullYear()%></code
              >
            </p>
            <p class="lead">
              Time of Meeting :
              <code
                ><%=meeting.date.getHours()%>:<%=meeting.date.getMinutes()%></code
              >
            </p>
            <a class="btn btn-primary" href="/meeting/<%=meeting._id%> "
              >More Info</a
            >
          </div>
          <% } %> <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
